html{
    font-size: 13px; /*1 rem 13px svugde*/
}

img{
    max-width: 100%;
}

h2, .h2{
    font-size: 2.8rem;
}


body{
    font-family: 'ArialMT';
    color:#9a9a9a;
}

h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5{
    font-family: 'MuseoSlab-500';
}

/*HEADER*/
header{
    border-bottom: 1px dotted #000;
}

.navbar-brand{
    max-width: 50%;
}

header .navbar-nav a{
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px dotted #000;
    transition: 0.5s linear;
}

header .navbar-nav li:last-of-type a{
    border-bottom: none;
}

header .navbar-nav li.active a,
header .navbar-nav li:hover a{
    background: #000;
    color: #fff !important;
}

/*NEWS SECTION*/

.news .news-item{
    border-bottom: 1px dotted #9a9a9a;
}

.news .news-item:last-of-type{
    border-bottom: none;
}

.news .news-item figure{
    overflow: hidden; /*figure slika nece da izadje. Zgodan stvar.*/
}

.news .news-item figure img{
    transition: 0.5s linear;
}

.news .news-item figure:hover img{
    transform: scale(1.1);
}

.news-header h2{
    line-height: 3rem;
    letter-spacing: -1px;
/*    max-height: 6rem;
    overflow: hidden;*/
}

.news-header h2 a{
    color:#000;
    text-decoration: none;
}

.news-header p.small{
    font-family: 'Arial-ItalicMT';
    color: #2e2e2e;
    font-size: 12px !important;
}

.news-header p.small:before{
    content: '';     /*mora uvek content u before i after*/
    display: inline-block; /*da bude pored teksta*/
    width: 12px;
    height: 13px;
    border-bottom: 1px solid #a8a8a8;
    border-left: 1px solid #a8a8a8;
    position: relative;
    top: -3px;
}

.news-header .comments-number{
    width: 44px;/*slika je toliko*/
    height: 42px; /*slika je toliko*/
    background: url('assets/comments.png') no-repeat center center;
    font-family: 'Arial-BoldMT';
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

/*nadji p i sve paragrafe posle njega*/
/*ostavili smo da se vidi samo jedan paragraf*/
.new-item-description p~p{
    display: none;
}

/*ogranicavamo broj redova*/
.new-item-description p{
    line-height: 1.4rem;
    max-height: 7rem; /*5 redova*/
    overflow: hidden;
}

.news .news-item .read-more{
    color: #e9e9e9;
    background: #616161;
    font-size: 12px;
    line-height: 18px;
    padding: 7px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: 0.5s linear;
}

/*pravimo trougao*/
.news .news-item .read-more:after{
    content: '';
    display: block;
    width: 32px; /*padding 7+7+visina reda 18*/
    height: 32px;
    position: absolute;
    top:0;
    left:100%;
    border: 16px solid transparent;
    border-left-color: #616161; 
}

.news .news-item .read-more:hover{
    margin-left:3px;
}

/*NEWS NAVIGATION*/
.news-navigation a{
    text-decoration: none;
    color: #4d4d4d;
    font-size: 16px;
    font-family: 'Arial-BoldMT';
}

.news-navigation > span{
    color: #4d4d4d;
    font-size: 22px;
    padding: 0 15px;
    display: inline-block;
}

.news-navigation a:hover{
    color: #000;
    text-shadow: 0 0 2px #4d4d4d;
}

/*ASIDE*/
.social a{
    color:#000;
    font-size: 32px;
    text-decoration: none;
}

.search-form .form-control{
    border-radius: 0;
    background: #f7f7f7;
}

.top-articles .top-articles-item img{
    border:5px solid #444;
}

.top-articles .top-articles-item .w-75 a{
    text-decoration: none;
    line-height: 1.5rem;
    max-height: 3rem;
    overflow: hidden;
    padding-left: 5px; /*ako neko unese veliku sliku da se ima padding*/
    display: block;
}

.recent-comment-item span.w-75{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.recent-comments p{
    font-size: 12px;
    border-top: 1px solid #ccc; 
}

.recent-comments p:last-of-type{
    border-bottom: 1px solid #ccc; 
}

.recent-comments a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

/*FOOTER*/
.footer{
    margin-top: 24px;
    border-top: 1px dotted #9a9a9a;
}

.footer article p,
.footer article h5{
    font-family: Arial;	
    font-size: 16px;	
}

.footer article h5{
    font-weight: bold;
    text-decoration: none;
    color: #6D6D6D;
}

/*Single news*/

.single-news-content h3{
    color: #252525;	
    font-family: Arial;	
    font-size: 24px;
}

.single-news-content h4{
    color: #434242;	
    font-family: Arial;	
    font-size: 17px;
}

.single-news-content .puzzle {
    list-style-image: url('../img/rsz_puzzle-piece-128.png');
}

.single-news-content blockquote{
    position: relative;
    display: inline-block;
    background-color: #EFEFEF;
    padding: 20px 30px 30px 60px;
}

.single-news-content blockquote:before{
    content: '“';
    font-size: 116px;
    color: #fff;
    display: block;
    position: absolute;
    top: -20%;
    left: 0;
}

.single-news{
    border-bottom: 1px dotted #9a9a9a;
}

